{% extends 'layouts/content/members-area/chat.html.twig' %}

{% block title %}{{ 'Edit'|trans }} | {{ 'Channel'|trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'Edit Channel'|trans }}</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ url('members-area') }}">
                {{ 'Home' | trans }}
            </a>
        </li>
        <li>
            <a href="{{ url('members-area.chat') }}">
                {{ 'Chat' | trans }}
            </a>
        </li>
        <li>
            <a href="{{ url('members-area.chat.channels') }}">
                {{ 'Channels' | trans }}
            </a>
        </li>
        <li>
            <a href="{{ url('members-area.chat.channels.detail', { id : chatChannel.getId() }) }}">
                #{{ chatChannel }}
            </a>
        </li>
        <li class="active">
            {{ 'Edit' | trans }}
        </li>
    </ol>
    {% include 'contents/members-area/chat/channels/_form.html.twig' %}
{% endblock %}
